<!DOCTYPE html>
<html lang="en">
<head>
  <title>Cactus Tunnel Bridge</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="icon" type="image/png" href="./img/cactus-tunnel.png" />
</head>

<body class="container">

<header>
</header>

<main>
  <div align="center">
    <br/>
    <a href="https://github.com/jeffreytse/cactus-tunnel">
      <img alt="cactus-tunnel logo" src="./img/cactus-tunnel.png" width="260">
    </a>

    <h1>Cactus Tunnel Bridge</h1>

    <h4>
      🌵 A charming TCP tunnel over WebSocket and Browser.
    </h4>

    <div class="tunnel-status">Tunnel Status: <span class="value">n/a</span></div>
    <div class="tunnel-send">Send: <span class="value">n/a</span></div>
    <div class="tunnel-recv">Recv: <span class="value">n/a</span></div>
  </div>
</main>

<footer>
</footer>

<script src="./js/bundle.js"></script>

</body>
</html>

